* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    margin-right: 1.5rem;
    padding: 0 1rem;
}
.nav-link {
    font-size: 21px;
    padding: .8rem;
    color: white;
}

.navbar-brand {
    font-size: 30px;
}
.nav-link:hover {
    background-color: rgb(249, 81, 81);
}

.btn-signIn {
    color: black;
}
.btn-signIn:hover {
    background-color: rgba(248, 255, 55, 0.799);
}
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 4rem;
    background-image: url(images/broomfield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}
.hero-content {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: left;
    margin: 6rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .7rem;
}
.hero-subtitle {
    padding: .5rem;
    line-height: 2rem;
}
.hero-button {
    background-color: rgb(40, 61, 222);
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.hero-button:hover {
    background-color: rgb(57, 57, 241);
    border: 1px solid white;
}


/* Car Items */
#car-item {
    margin: 0 0;
    min-height: 450px;
    
}
#car-item .bg-image {
    position: absolute;
    background: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    z-index: -1;
    opacity: 0.9;
}

.card {
    width: 300px;
    margin: 20px 10px;


}
#card-top-image {
    width: 100%;   
}


/*********** testimonial **********/
#test-monial {
    background-color: #333;
}
#test-monial .container {
    margin: 30px;
}
.test-row {
    position: relative;
    display: flex;
}

.test-img {
    width: 100%;
}

#test-text .test-card {
    text-align: right;
}






