* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    margin-right: 1.5rem;
    padding: 0 1rem;
}
.nav-link {
    font-size: 21px;
    padding: .8rem;
    color: white;
}

.navbar-brand {
    font-size: 30px;
}
.nav-link:hover {
    background-color: rgb(249, 81, 81);
}

.btn-signIn {
    color: black;
}
.btn-signIn:hover {
    background-color: rgba(248, 255, 55, 0.799);
}
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 4rem;
    background-image: url("images/broomfield.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}
.hero-content {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: left;
    margin: 6rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .7rem;
}
.hero-subtitle {
    padding: .5rem;
    line-height: 2rem;
}
.hero-button {
    background-color: rgb(40, 61, 222);
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.hero-button:hover {
    background-color: rgb(57, 57, 241);
    border: 1px solid white;
}


/* Car Items */
#car-item {
    margin: 0 0;
    min-height: 450px;
    
}
#car-item .bg-image {
    position: absolute;
    background: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    z-index: -1;
    opacity: 0.9;
    
}

.card {
    width: 300px;
    margin: 20px 10px;


}
#card-top-image {
    width: 100%;   
}

/******************* Display cars **************************/

 section, #car-item {
    background-color: antiquewhite;
    margin: 0;
}
#car-item .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 20px;
}

.bg-card {
    background-color: rgb(79, 150, 134);
}
.card img {
    width: 100%;
    border-radius: 0 70px 0 70px;
}
#car-card .card-body .card-text {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
#car-card .card-body input {
    font-size: 20px;
    font-weight: 500;

}

/*********** testimonial **********/
section, #test-monial {
    background-color: #333;
    margin-top: 0;
}

#test-monial .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-column-gap: 20px;
}
.card-body, .bg-card {
    color: black;
}

.test-img {
    width: 100%;
}

#test-text .test-card {
    text-align: right;
}
#test-monial .test-header {
    text-align: center;
    padding: 28px;
}


/******************* Booking Form **********************/
#booking-form {
    background-color: blue;
    color: white;
    height: 100%;
} 
.main-block {
    width: 100%;
    height: 120vh;
}
#main-form {
    background-color: rgb(220, 202, 64);
    margin: 20px 200px;
    padding: 30px;
    
}
.info {
    padding: 30px;
}
#main-form .info input {
    border: none;
    border-bottom: 2px solid black;
}
.info 
input[type=text],
[type=date], 
select {
    width: 100%;
    padding: 15px 15px;
    display: inline-block;
    box-sizing: border-box;
    margin: 8px;

}
#main-block {
    justify-content: center;
    align-items: center;
}
#main-block form, .info {
    padding: 20px;
}
#main-block 
form
input, 
select {
    border: none;
    border-bottom: 2px solid rgb(28, 27, 27);
    background: transparent;
      
}
.main-block h1 {
    position: relative;
    text-align: center;
    padding: 20px;
}




/* .main-block, .info {
    display: flex;
    flex-direction: column;
}
.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;

}
.main-block form {
    width: 80%;
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.9);
}
.main-block form input, select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
.main-block form input::placeholder {
    color: #eee;
}
.main-block form option {
    background: black;
    border: none;
}
.method {
    display: flex;
}
input[type=radio] {
    display: none;
}
.method label.radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-indent: 32px;
    cursor: pointer;
}
.method label.radio:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    border: 2px solid #1c87c9;
}
.method label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    top: 5px;
    left: 5px;
    border-bottom: 3px solid #1c87c9;
    border-left: 3px solid #1c87c9;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
button.book-btn {
    display: block;
    width: 200px;
    padding: 100px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
button.book-btn:hover {
    background: #095484;
} */






